#contact {
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
  color: var(--text-color);
}

.sectionContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}

.inputContainer {
  margin-bottom: 20px;

  & input {
    width: 100%;
  }
}

.successMessage {
  margin: 20px auto;
  padding: 15px 20px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInSlideDown 0.5s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 90%;
  box-sizing: border-box;
}

.successMessage::before {
  content: "✔️";
  margin-right: 10px;
  font-size: 1.2rem;
}

@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
