#contact {
  background-color: #fff;
}

.sectionContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}

.inputContainer {
  margin-bottom: 20px;

  & input {
    width: 100%;
  }
}
