footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 2rem 0;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sectionContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  opacity: 0.8;
}

.footerContent {
  margin-top: 16px;
}
