footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.sectionContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}
